---
import Welcome from '../components/Welcome.astro'
import Layout from '../layouts/Layout.astro'
import Markdown from '@/components/Markdown.astro'

const readme = await import('../../../README.md')

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <slot slot="head"><title>华师大二附中国际课程班高三数学</title></slot>
  <Markdown file={readme} />
</Layout>
