---

---

<footer class="text-center text-sm">
  <span>
    Copyright © 2025
    <a href="mailto:misaka10987@outlook.com">misaka10987</a>
  </span>
  &middot;
  <span>
    Licensed under
    <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">
      CC BY-NC-ND 4.0
    </a>
  </span>
  <br />
  <span>
    Powered by
    <a href="https://astro.build">Astro</a>
  </span>
</footer>
