---
import { root } from '@/lib/util'
---

<header class="m-2">
  <nav class="flex gap-4 text-sm">
    <span>华师大二附中国际课程班高三数学</span>
    <span><a href={root}><code>/</code></a></span>
    <span><a href=".."><code>..</code></a></span>
  </nav>
</header>
