---
import 'katex/dist/katex.min.css'

interface Props {
  // TODO: add type
  file: any
}

const { file } = Astro.props
---

<style is:global>
  .markdown img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
</style>

<article class="m-4 p-4 markdown">
  <file.Content />
  <div class="text-sm">Above Rendered from Markdown</div>
</article>
