---
import 'katex/dist/katex.min.css'

interface Props {
  // TODO: add type
  file: any
}

const { file } = Astro.props
---

<article class="m-4 p-4 border-black border">
  <file.Content />
  <div class="text-sm">Above Rendered from Markdown</div>
</article>
